<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="hstack align-items-center flex-col flex-lg-row">
      <div class="m-t-16 rounded-bars" style="height: 305px">
        <h4 Ctitle>Doughnut</h4>
        <apx-chart
          [series]="doughnutChartOptions.series"
          [chart]="doughnutChartOptions.chart"
          [dataLabels]="doughnutChartOptions.dataLabels"
          [plotOptions]="doughnutChartOptions.plotOptions"
          [legend]="doughnutChartOptions.legend"
          [colors]="doughnutChartOptions.colors"
          [tooltip]="doughnutChartOptions.tooltip"
        >
        </apx-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
