table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 !important;
}

.example-element-row td {
  border-bottom-width: 0;
}
