<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex gap-20 align-items-center">
      <div
        class="rounded icon-48 bg-light-primary d-flex align-items-center flex-shrink-0 justify-content-center"
      >
        <i class="iconify f-s-24 text-secondary" data-icon="solar:box-linear"></i>
      </div>
      <mat-card-title class="f-s-16 f-w-500 m-b-0"
        >Forecasted Month End</mat-card-title
      >
    </div>

    <div class="row m-t-8">
      <div class="col-6">
        <h5 class="f-s-16 f-w-500 m-b-4 lh-md m-t-30">
          2681.67 <span>INR</span>
        </h5>
        <span class="text-success f-w-600">+18%</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
