<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <app-current-month></app-current-month>
      </div>
      <div class="col-sm-6">
        <app-month-end></app-month-end>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <app-last-month></app-last-month>
      </div>
      <div class="col-sm-6">
        <app-subscriptions></app-subscriptions>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-8">
    <app-annual-profit></app-annual-profit>
  </div>

  <div class="col-lg-8">
    <app-revenue-product></app-revenue-product>
  </div>
  <div class="col-lg-4">
    <app-sales-locations></app-sales-locations>
  </div>
</div>
